
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0px;
  background-color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
}
main.container {
  width: 450px;
  margin: 0px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}
section.new-tweet {
  color: #83AF9B;
}
