
header.header_tweet {
  background-color: #E5FCC2 ;
  border-bottom: 0.5px solid #E5FCC2;
  text-align: left;
  padding: 0.5em 0.5em;
  height:80px;
  color: #594F4F
}
img.image {
  width: 60px;
  height: 60px;
  float: left;
  border: 0.5px solid #594F4F;
  border-width: 0.5px;
  border-radius: 5px;
}
h3.name {
  float: left;
}
p.handle {
  float: right;
  font-size: 15px;
}
article.thebox {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: #E5FCC2;
  margin: 10px 0px;
}
p.tweetbox {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1em 0.5em;
  font-size: 15px;
  height: 80px;
}
footer.footer_tweet {
  border-top: 0.5px solid #E5FCC2;
  padding: 1em 1em;
  font-size: 10px;
}
p.invisible {
  color: #FFF;
  float: right;
  margin-top: -0.25em;
}
article.thebox:hover {
  border-style: solid;
  border-color: #45ADA8;
  color: #45ADA8;
}
article.thebox:hover header {
  background-color: #9DE0AD;
}
article.thebox:hover p.tweetbox{
  color: #547980;
}
article.thebox:hover p.invisible {
  opacity: 0%;
  color: #45ADA8;

}


